/* ST Button */
div.stButton > button:first-child {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: rgb(27, 59, 102);
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 1em;
	color: white;
}

div.stButton > button:hover {
	opacity: 0.9;
	border: none;
	color: white;
}

div.stButton > button:active {
	position:relative;
	top:3px;
}

/* ST Text Area */

/* .st-dx {
	min-height: 500px;
} */