/* Title Container */
.title_container {
	color:white;
	background-color: rgb(27, 59, 102);
	height: 50px;
	max-width: 25%;
	border-radius: 10px;
	font-size: 30px;
	font-weight: bold;
	text-align: left;

}

/* FOR CARD */
.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	text-align: center;
	width: auto;
  }
  
.container {
	padding: 10px 1px;
	color:white;
	/* background-color: rgb(135, 170, 214); */
	height: 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
}

.container2 {
	padding: 10px 1px;
	color:white;
	background-color: rgb(27, 59, 102);
	height: 70px;
	width: 100%;
	/* border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; */
	font-weight: bold;
	font-size: 1em;
} 

.row {
	display: flex;
  }
  
.column {
	flex: 50%;
  }


.very_good {
	background-color: rgb(0, 105, 47);
}

.good {
	background-color: rgb(91, 235, 103);
}

.poor {
	background-color: rgb(255, 140, 46);
}

.very_poor {
	background-color: rgb(233, 22, 40);

}

.draw {
	background-color: rgb(134, 134, 134);
}

.normal_color {
	background-color: rgb(27, 59, 102);
}
.card .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgb(27, 59, 102);
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	right: 25%;
}
  
  .card:hover .tooltiptext {
	visibility: visible;
	
  }

  .card:hover {
	opacity: 0.9;
  }


/* FOR TABLE */

.styled-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
	max-height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color:rgb(27, 59, 102);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 1px 11x;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.active-row {
    font-weight: bold;
    color: #009879;
}


/* Icon */
#myTable tr td {
	border: none;
	vertical-align:middle;
  }

#myTable tr td:first-child {
width: 50px;
}
#myTable tr td:last-child {
width: 500px;
}

.card2 {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	text-align: left;
	width: auto;
	font-size: 15px;
	font-weight: bold;
	color: white;
	background-color:rgb(27, 59, 102);
	border-radius: 10px;
  }

.result_icon {
	border: none;
	border-radius: 5px;
	outline: 0;
	display: inline-block;
	margin-right: 3px;
	/* background-color: rgb(134, 133, 133); */
	text-align: center;
	width: 20px;
	height: 20px;
	color: white;
}


/* ST Button */
div.stButton > button:first-child {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: rgb(27, 59, 102);
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 1em;
	color: white;
}

div.stButton > button:hover {
	opacity: 0.9;
	border: none;
	color: white;
}

div.stButton > button:active {
	position:relative;
	top:3px;
}